<h1> Welcome to Braden Riggs' GitHub <h1>

{% include 'contact' %}

# Gallery (Please Click :point_down:)
{% include 'gallery' %}

# Learn
{% include 'writing' %}
[![No Headset, No Problem: Building Social Gaming Experiences for Every Device](https://img.youtube.com/vi/w5t8nvJX45Q/maxresdefault.jpg)](https://www.youtube.com/watch?v=w5t8nvJX45Q)

# Community
{% include 'influence' %}

<div>&nbsp;</div>

# Statistics
<details>
  <summary>Statistics</summary>
  <div>&nbsp;</div>
  <div>
    <p>Repos: {{ public_repos }}</p>
    <p>Followers: {{ follower_count }}</p>
    <p>Stargazers: {{ stargazer_count }}</p>
    <p>Supporters: {{ supporter_count }}</p>
    <p>Unique Views (week): {{ profile_traffic }}</p>
  </div>
</details>
