<h1> Welcome to Braden Riggs' GitHub <h1>

{% include 'contact' %}

## Gallery (Please Click :point_down:)
{% include 'gallery' %}

## Learn :mortar_board:
{% include 'writing' %}

## Community :computer:
{% include 'influence' %}

## Statistics :chart_with_upwards_trend:
<details>
  <summary>Statistics</summary>
  <div>&nbsp;</div>
  <div>
    <p>Repos :open_file_folder:: {{ public_repos }}</p>
    <p>Followers :running:: {{ follower_count }}</p>
    <p>Stargazers :star2:: {{ stargazer_count }}</p>
    <p>Supporters :raising_hand:: {{ supporter_count }}</p>
    <p>Unique Views (week) :eyes:: {{ profile_traffic }}</p>
  </div>
</details>
